.ui-widget{
	font-size:12px;
}

.sketch-canvas {
	border:2px solid black;
}

#sketch-panel{
}

#top-panel {
}

.controls{
    margin-top:18px;
}

#result-panel{
    /*border: 2px solid;*/
}

.resultLine {
	/*height: 20px;*/
}

.lineNumberText {
    width:25px;
}

.lineText {
}

code {
    color: darkgreen;
    background-color: #f0ffeb;
}

canvas{
	background-color:white;
}