.ui-widget{
	font-size:12px;
}

.sketch-canvas {
	border:2px solid black;
}

#sketch-panel{
	float:left;
}

#controls{
	float:right;
}

#result-panel{
	float:left;
	margin-left:10px;
	margin-top: 40px;
}

.resultLine {
	height: 20px;
}

canvas{
	background-color:white;
	margin:10px;
}